section{
    height: calc(100vh - 70px);
    width: 100%;
    background-color: #9B0E0E;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containContact{
    width: 60%;
    height: 92%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0 25px 1px;
}

.containContact h2{
    margin: 0;
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 2px;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.inputs{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputs input{
    width: 48%;
}

input,textarea{
    width: 70%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 110%;
    outline: none;
    box-sizing: border-box;
}

textarea{
    height: 120px;
    padding: 5px 10px;
    font-size: 150%;
    width: 70%;
    resize: none;
}

textarea::-webkit-scrollbar{
    width: 5px;
    background-color: white;
    border-radius: 50px;
}

textarea::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #9B0E0E;
    border-radius: 50px;
    box-shadow: 0 0 10px #9B0E0E;
}

textarea::-webkit-scrollbar-track { 
    border-radius: 50px;
}


button{
    width: 35%;
    height: 45px;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    /* background-color: #FF6464; */
    background-color: white;
    border-radius: 5px;
    font-size: 100%;
    outline: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 5px;
}

input:hover , textarea:hover{
    border-color: #9B0E0E;
}

input:focus, textarea:focus{
    border-color: #9B0E0E;
}

button:hover{
    width: 40%;
    color: white;
    letter-spacing: 6px;
    box-shadow: 0 0 5px ;
    text-shadow: 0 0 1px white;
    background-color: #9B0E0E;
}

.modal{
    width: 40%;
    height: 50%;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px 1px;
    z-index: 1;
}

.modal p{
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
    text-shadow: 0 0 1px;
}

.quadrado{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px;
    cursor: pointer;
}

.quadrado i{
    font-size: 22pt;
    text-shadow: 0 0 2px;
}

.opaca{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
}

@media screen and (max-width: 850px){
    .containContact{
        width: 80%;
    }
    section{
        height: calc(100vh - 60px);
        margin-top: 60px;
    }
    .modal{
        width: 60%;
        height: 52%;
    }
}