section{
    height: calc(100vh - 70px);
    width: 100%;
    background-color: #9B0E0E;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.divProfile{
    height: 90%;
    width: calc(90% / 3);
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    transition: .3s;
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
}


.perfil{
    height: 70%;
    width: 100%;
    background-color: black;
    background: url(../img/camila.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    transition: 1s;
}

.perfil0{
    height: 35%;
    box-shadow: 0 0 10px;
    
}

.perfil i{
    position: absolute;
    bottom: -15px;
    right: 8px;
    font-size: 32px;
    color: black;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
    text-shadow: 0 0 5px;
    z-index: 2;
}

.trIcon{
    transform: scaleY(-1);
}

.trNome{
    transition: 1s;
    text-align: center;
    margin: 0;
    position: absolute;
    box-shadow: 0 0 5px;
    bottom: -78px;
    z-index: 1;
    font-size: 28px;
    font-weight: bold;
    padding: 8px 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 2px;
    opacity: 1;
    cursor: default;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent, transparent, transparent, rgba(0, 0, 0, 0.4));
}

.trNome1{
    opacity: 0;
    bottom: 0;
}

.social{
    height: 10%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;  
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 2px 1px black;
    transition: .3s;
    background-color: white;
}

.social:hover{
    box-shadow: 0 0 4px 2px #9B0E0E;
}

.social a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.social i{
    font-size: 40px;
    box-sizing: border-box;
    color: black;
    margin-bottom: 3px;
    transition: .3s;
}

.social i:hover{
    color: #9B0E0E;
    text-shadow: 0 0 1px #9B0E0E;
    transform: scale(1.05);
}

@media screen and (max-width: 850px){
    section{
        height: calc(280vh - 60px);
        margin-top: 60px;
        flex-direction: column;
    }
    .divProfile{
        height: calc(90% /3);
        width: 90%;
        background-color: white;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        position: relative;
        transition: .3s;
        box-sizing: border-box;
        box-shadow: 0 0 5px black;
    }

    .divProfile:nth-child(1){
        margin-top: -18px;
    }

}
