body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.progresso{
    height: 3px;
    width: 0.1px;
    background-color: #9B0E0E;
    position: fixed;
    top: 0px;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
}

header{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    box-shadow: 0 0 25px 1px, 0 0 2px 1px;
    transition: 1s;
    top: 0;
}

header>a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.8vw;
    height: 100%;
    background: url(../img/logo1.png);
    background-position: left;
    background-size: 265px  ;
    background-repeat: no-repeat;
    width: 265px;
}

nav{
    height: 70px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.8vw;
}

nav a{
    text-decoration: none;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    transition: 0.5s;
}

nav a:hover{
    color: black;
    text-shadow: 0 0 1px;
    letter-spacing: 5px;
}

.burguer{
    display: none;
}


@media screen and (max-width: 850px){
    header{
        height: 60px;
    }
    .invisible{
        height: 60px;
        box-shadow: none;
    }
    .progresso{
        display: none;
    }

    header>a{
        width: 60px;
        background: url(../img/icon.png);
        background-position: center;
        background-size: 50px 50px;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        z-index: 1;
    }

    nav{
        background-color: white;
        width: 90%;
        margin: 0;
        height: 60px;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        top: 0;
        left: -100%;
        position: absolute;
        transition: 1s;
    }

    nav a{
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .visible{
        left: 0;
        box-shadow: 0 0 2px 1px, 0 0 500px;
    }

    .burguer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50px;
        height: 50px;
        overflow: hidden;
        margin-right: 1.8vw;
        cursor: pointer;
        position: absolute;
        right: 0;
        z-index: 2;
        transition: 1s;
    }

    .burguer1{
        right: 10%;
    }
    
    .barrinha{
        box-shadow: 0 0 1px;
        width: 35px;
        height: 2px;
        background-color: black;
        transition: 0.5s;
    }
    
    .barrinha:nth-child(2){
        margin: 10px 0;
    }
    
    .barrinha1{
        transform: rotate(135deg);
        position: absolute;
    }
    
    .barrinha1:nth-child(2){
        margin: 0;
        transform: rotate(-135deg);
    }


}
